*{
margin:0;
padding:0%;
box-sizing : "border-box";
font-family:"Poppins", sans-serif;
}

.hero-section{
background: url(/zomato-landing-page-10722/images/heroSectionBackground.png);
background-size: cover;
background-position: center;
color: white;
min-height: 60vh;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  /* padding: (top and bottom) (left and right); */
  padding: 16px 48px;

}

.navbar a{
  text-decoration: none;
  color: white;
}

.navbar-menu-container{
  display: flex;
  gap: 20px;
}

.navbar-menu-container .user-icon{
  height: 30px;
  width: 30px;
  color: white;
border: solid 1px white;
border-radius: 100%;
/* used for vertical alignment */
align-items: center;  
/* used for horizontal alignment */
justify-content: center;
display: none;
}




.hero-section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: calc(60vh - 60px);
}

.hero-section-logo{
  /* whenever there is img to set don't set height only width will help */
  width: 200px;
  height:auto
}

.hero-section-title{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}  

.hero-section-input-container{
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 10px;
  width: 50%;
  border-radius: 10px;

}
/* apply css on collective or 2 classes using comma */
.input-container-location, .input-container-search{
  border: none;
  padding: 5px;
  outline: none;
}

.input-container-location{
  width:35%;
  border-right : 2px solid #e0e0e0;
}

.input-container-search{
  width:65%;
}


@media only screen and (max-width:600px) {
  .navbar-menu-container .user-icon{
    display: flex;
  }
  .link{
    display:none;
  }
  .navbar{
    padding: 16px;
  }

  .hero-section{
    min-height: 80vh;
  }
 .hero-section-input-container{
   flex-direction: column;
   background-color: transparent;
   width: 100%;
  } 
  .input-container-location, .input-container-search{
    padding: 15px;
    border-radius: 10px;
    width: 95%;
  }

  .hero-section-container{
    height: calc(80vh - 60px);
  }

  .hero-section-title{
    font-size: 20px;
    width: 95%;
  }
}


.container{
  width: 80%;
  margin: 3rem auto;
}

.we-offer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
}

.we-offer-card{
  /* background-color: aqua; */
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease;
  border: 1px solid #e0e0e0;
}

.we-offer-card:hover{
transform: scale(1.05);

}


.we-offer-card img{
width: 100%;
height: 160px;
/* below both property apply for image like for background img */
object-fit: cover;
object-position: center;
}

.we-offer-content{
  padding: 10px;
}
.we-offer-content h2{
font-size: 20px;
font-weight: 400;
}
.we-offer-content p{
font-size: 15px;
}

/* new collection section */

.collections h1{
  font-weight: 600;
}

.collections .sub-heading-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 15px;
  flex-wrap: wrap;
}

.sub-heading-container span:nth-child(2){
  color: #ff7e8b;
  font-size: 13px;
  cursor:pointer;
}

.collections-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.collections-card-container .card{
  height:300px ;
  min-width: 240px ;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
}

.card1{
  background-image: url('images/collection1.jpg');
}
.card2{
  background-image: url('images/collection2.jpg');
}
.card3{
  background-image: url('images/collection3.jpg');
}
.card4{
  background-image: url('images/collection4.jpg');
}

/* pending didn't work need to fix */
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgba(0,0,0, 0.9) 0%,
    rgba(0,0,0, 0.05) 50%,
    rgba(0,0,0, 0.05) 85%,
  );
}



.collections-card-container .card .content{
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10px;
  font-size: .9rem;
}

.content h4{
  font-weight: 400;
  letter-spacing: .5px;
  
}