*{
margin:0;
padding:0%;
box-sizing : "border-box";
font-family:"Poppins", sans-serif;
}

.hero-section{
background: url(/zomato-landing-page-10722/images/heroSectionBackground.png);
background-size: cover;
background-position: center;
color: white;
min-height: 60vh;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  /* padding: (top and bottom) (left and right); */
  padding: 16px 48px;

}

.navbar a{
  text-decoration: none;
  color: white;
}

.navbar-menu-container{
  display: flex;
  gap: 20px;
}